{{ define "main" }}

<section>
  {{ if .Pages }}
    {{ range .Pages.ByDate.Reverse }}
    <div class="row post-row">
      <div class="when"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></div>
      <div class="what">
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        {{ with .Description }}<p>{{ . }}</p>{{ end }}
        {{ if .Params.tags }}
          <div class="tags">
            {{ range .Params.tags }}<span class="tag">{{ . }}</span>{{ end }}
          </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  {{ else }}
    <p><em>Nothing here yet. Soon.</em></p>
  {{ end }}
</section>

{{ end }}
