{{ define "main" }}

<section>
  <h2>About</h2>
  <p>
    I'm Austin, a statistics student at <a href="https://www.iitk.ac.in">IIT Kanpur</a>
    and an ex-secretary at the <a href="https://pclub.in">Programming Club</a>.
  </p>
  <p>
    I am building <a href="https://github.com/mTvare6/saqol">Śaq</a>, which is a PipeWire
    filter to make stereo audio sound much better. I have also built
    <a href="https://github.com/mTvare6/enkiwm">enki</a>, an experimental Wayland compositor.
    More projects with relevant details can be found
    <a href="{{ "resume/" | relURL }}">here</a>.
  </p>
</section>

<section>
  <h2>Contact</h2>
  <dl class="contact-details">
    <dt>GitHub</dt>
    <dd><a href="{{ .Site.Params.github_url }}">{{ index .Site.Params.handles 1 }}</a></dd>
    <dt>Email</dt>
    <dd><a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></dd>
    <dt>X</dt>
    <dd><a href="https://x.com/epestr_0">@epestr_0</a></dd>
    <dt>LinkedIn</dt>
    <dd><a href="https://www.linkedin.com/in/austin-shijo-3218a931a/">Austin Shijo</a></dd>
  </dl>
</section>

{{ end }}
